.footer {
  color: black;
  padding: 20px 10%;
  font-size: 14px;
}

.footer-line {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 15px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
