/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px; 
  padding: 0 10%;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.navbar nav {
  display: flex;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #0BB3DD;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #0BB3DD;
}

/* Header / Hero Section */
.header-section {
  display: flex;
    flex-direction: row; 
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 500px;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
}

.intro-text {
  flex: 1;
  color: #0B0C0C;
  text-align: left;
  align-items: flex-start;
}

.intro-text h1 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.intro-text p {
  font-size: 1rem;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 75%;
  font-weight: 600;
}

/* Foto Profil */
.profile-img img {
  width: 400px;
  border-radius: 12px;
}

/* Warna Highlight */
.biru {
  color: #0BB3DD;
}

/* Tombol */
.btns {
  margin-top: 20px;
}

.btn-blue {
  background-color: #0BB3DD;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Tambahkan transisi untuk efek halus */
}

.btn-blue:hover {
  background-color: #099cc2;
  transform: scale(1.05); /* Memperbesar tombol sebesar 5% */
}

.btn-outline {
  border: 1px solid #0BB3DD;
  padding: 10px 16px;
  border-radius: 8px;
  background: none;
  color: #0BB3DD;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn-outline:hover {
  background-color: #e6f9ff;
  transform: scale(1.05); 
}

/* RESPONSIVE STYLES */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

    nav.nav-open .nav-links {
      display: flex;
    }

  .nav-links li {
    margin: 1rem 0;
    text-align: center;
  }

  .header-section {
    flex-direction: column;
    text-align: left;
    padding: 40px 20px;
  }

  .intro-text {
    text-align: left;
  }

  .intro-text h1 {
    font-size: 2rem;
  }

  .intro-text p {
    font-size: 0.95rem;
    width: 100%;
  }

  .btns {
    justify-content: center;
  }
}

